<div>
    <div>
        <div>
            <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()" class="w3-container w3-card-4 w3-light-grey w3-text-aqua w3-margin w3-center"> 
                <div formGroupName="customer" class="form-area">
                    <h3>Customer</h3>
                    <div class="w3-row w3-section">
                    <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user"></i></div>
                        <div class="w3-rest">
                        <input class="w3-input w3-border" formControlName="firstName" type="text" placeholder="First Name" required>
                            <!-- Validation -->
                            <div *ngIf="checkoutFormGroup.get('customer.firstName')?.invalid && (checkoutFormGroup.get('customer.firstName')?.dirty || checkoutFormGroup.get('customer.firstName')?.touched)" class="alert alert-danger mt-1">
                                <!-- <div *ngIf="checkoutFormGroup.get('customer.firstName')?.errors?.['required']">First Name is required.</div>
                                <div *ngIf="checkoutFormGroup.get('customer.firstName')?.errors?.['minlength'] 
                                    || checkoutFormGroup.get('customer.firstName')?.errors?.['whitespace'] 
                                    || checkoutFormGroup.get('customer.firstName')?.errors?.['pattern']">First Name must be atleast 2 characters long.</div> -->
                                    <div *ngIf="checkoutFormGroup.get('customer.firstName')?.hasError('required')">
                                        First Name is required.
                                    </div>
                                    <div *ngIf="checkoutFormGroup.get('customer.firstName')?.hasError('minlength') 
                                    || checkoutFormGroup.get('customer.firstName')?.errors?.['pattern']">
                                        First Name must be at least 2 characters long.
                                    </div>
                                    <div *ngIf="checkoutFormGroup.get('customer.firstName')?.hasError('whitespace')">
                                        First Name cannot be empty or contain only whitespace.
                                    </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="w3-row w3-section">
                    <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-user"></i></div>
                        <div class="w3-rest">
                        <input class="w3-input w3-border" formControlName="lastName" type="text" placeholder="Last Name" required>
                            <!-- Validation -->
                            <div *ngIf="customerLastName?.invalid && (customerLastName?.dirty || customerLastName?.touched)" class="alert alert-danger mt-1">
                                <div *ngIf="customerLastName?.errors?.['required']">Last Name is required</div>
                                <div *ngIf="customerLastName?.errors?.['minlength']">Last Name must be atleast 2 characters long</div>
                                <div *ngIf="checkoutFormGroup.get('customer.lastName')?.hasError('whitespace')">
                                    Last Name cannot be empty or contain only whitespace.
                                </div>
                                <div *ngIf="customerLastName?.errors?.['pattern']">Last Name cannot numbers.</div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="w3-row w3-section">
                    <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-envelope"></i></div>
                        <div class="w3-rest">
                        <input class="w3-input w3-border" formControlName="email" type="email" placeholder="Email" required>
                        <!-- Validation -->
                        <div *ngIf="customerEmail?.invalid && (customerEmail?.dirty || customerEmail?.touched)" class="alert alert-danger mt-1">
                            <div *ngIf="customerEmail?.errors?.['pattern']">Use a valid email format</div>
                            <div *ngIf="customerEmail?.errors?.['required']">Email is required</div>
                        </div>
                        </div>
                    </div>
                    
                    <div class="w3-row w3-section">
                        <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-phone"></i></div>
                        <div class="w3-rest">
                            <input class="w3-input w3-border" formControlName="phone" 
                            type="tel" placeholder="(333) 444-5555">
                            <!-- Validation -->
                            <div *ngIf="customerPhone?.invalid && (customerPhone?.dirty || customerPhone?.touched)" class="alert alert-danger mt-1">
                                <div *ngIf="customerPhone?.errors?.['pattern']">Enter your 10 digit phone number</div>
                                <div *ngIf="checkoutFormGroup.get('customer.phone')?.hasError('whitespace')">
                                    Phone number cannot be empty or contain only whitespace.
                                </div>
                            </div>
                        </div>       
                    </div> 
                </div>
                <!-- shipping address -->
                <div formGroupName="shippingAddress" class="form-area">
                    <h3>Shipping Address</h3>
                    <div class="w3-row w3-section">
                    <div class="w3-col" style="width:50px"></div>
                        <div class="w3-rest">
                        <input class="w3-input w3-border" formControlName="street" type="text" placeholder="Street Address" required>
                            <!-- Validation -->
                            <div *ngIf="street?.invalid && (street?.dirty || street?.touched)" class="alert alert-danger mt-1">
                                <div *ngIf="street?.errors?.['required']">Street address is required</div>
                                <div *ngIf="street?.errors?.['minlength']">Street address must be atleast 5 characters long</div>
                                <div *ngIf="checkoutFormGroup.get('shippingAddress.street')?.hasError('whitespace')">
                                    Street address cannot be empty or contain only whitespace.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w3-row w3-section">
                    <div class="w3-col" style="width:50px"></div>
                        <div class="w3-rest">
                        <input class="w3-input w3-border" formControlName="city" type="text" placeholder="City" required>
                        <!-- Validation -->
                        <div *ngIf="city?.invalid && (city?.dirty || city?.touched)" class="alert alert-danger mt-1">
                            <div *ngIf="city?.errors?.['required']">City address is required</div>
                            <div *ngIf="city?.errors?.['minlength']">City address must be atleast 5 characters long</div>
                            <div *ngIf="checkoutFormGroup.get('shippingAddress.city')?.hasError('whitespace')">
                                City cannot be empty or contain only whitespace.
                            </div>
                            <div *ngIf="city?.errors?.['pattern']">City cannot numbers.</div>
                        </div>
                        </div>
                    </div>
                    <div class="w3-row w3-section">
                    <div class="w3-col" style="width:50px"></div>
                        <div class="w3-rest">
                        <input class="w3-input w3-border" formControlName="state" type="text" placeholder="State" required>
                        <!-- Validation -->
                        <div *ngIf="state?.invalid && (state?.dirty || state?.touched)" class="alert alert-danger mt-1">
                            <div *ngIf="state?.errors?.['required']">State address is required</div>
                            <div *ngIf="state?.errors?.['minlength']">State address must be atleast 2 characters long</div>
                            <div *ngIf="checkoutFormGroup.get('shippingAddress.state')?.hasError('whitespace')">
                                State address cannot be empty or contain only whitespace.
                            </div>
                            <div *ngIf="state?.errors?.['pattern']">State cannot numbers.</div>
                        </div>
                        </div>
                    </div>
                    <div class="w3-row w3-section">
                    <div class="w3-col" style="width:50px"></div>
                        <div class="w3-rest">
                        <input class="w3-input w3-border" formControlName="country" type="text" placeholder="Country" required>
                        <!-- Validation -->
                        <div *ngIf="country?.invalid && (country?.dirty || country?.touched)" class="alert alert-danger mt-1">
                            <div *ngIf="country?.errors?.['required']">Country is required</div>
                            <div *ngIf="country?.errors?.['minlength']">Country must be atleast 2 characters long</div>
                            <div *ngIf="checkoutFormGroup.get('shippingAddress.country')?.hasError('whitespace')">
                                Country cannot be empty or contain only whitespace.
                            </div>
                            <div *ngIf="country?.errors?.['pattern']">Country cannot numbers.</div>
                        </div>
                        </div>
                    </div>
                    <div class="w3-row w3-section">
                    <div class="w3-col" style="width:50px"></div>
                        <div class="w3-rest">
                        <input class="w3-input w3-border" formControlName="zipCode" type="number" placeholder="Zip Code" required>
                        <!-- Validation -->
                        <div *ngIf="zipCode?.invalid && (zipCode?.dirty || zipCode?.touched)" class="alert alert-danger mt-1">
                            <div *ngIf="zipCode?.errors?.['required']">zipCode is required</div>
                            <div *ngIf="zipCode?.errors?.['pattern']">zipCode should be 5 characters long</div>
                            <!-- <div *ngIf="checkoutFormGroup.get('shippingAddress.zipCode')?.hasError('whitespace')">
                                Zip Code cannot be empty or contain only whitespace.
                            </div> -->
                        </div>
                        </div>
                    </div>
                    
                </div>

                <div class="copyAddress">
                    <label class="addr-checkbox">
                        <input type="checkbox" (change)="sameAsShoppingAddress($event)">
                        <span class="addr-checkbox"> Same as Shopping address</span>
                    </label>

                </div>
                <!-- billing address -->
                <div formGroupName="billingAddress" class="form-area">
                    <h3>Billing Address</h3>
                    <div class="w3-row w3-section">
                    <div class="w3-col" style="width:50px"></div>
                        <div class="w3-rest">
                        <input class="w3-input w3-border" formControlName="street" type="text" placeholder="Street Address" required>
                        <!-- Validation -->
                        <div *ngIf="bstreet?.invalid && (bstreet?.dirty || bstreet?.touched)" class="alert alert-danger mt-1">
                            <div *ngIf="bstreet?.errors?.['required']">Street address is required</div>
                            <div *ngIf="bstreet?.errors?.['minlength']">Street address must be atleast 5 characters long</div>
                            <div *ngIf="checkoutFormGroup.get('billingAddress.bstreet')?.hasError('whitespace')">
                                Street address cannot be empty or contain only whitespace.
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="w3-row w3-section">
                        <div class="w3-col" style="width:50px"></div>
                            <div class="w3-rest">
                            <input class="w3-input w3-border" formControlName="city" type="text" placeholder="City" required>
                            <!-- Validation -->
                            <div *ngIf="bcity?.invalid && (bcity?.dirty || bcity?.touched)" class="alert alert-danger mt-1">
                                <div *ngIf="bcity?.errors?.['required']">City address is required</div>
                                <div *ngIf="bcity?.errors?.['minlength']">City address must be atleast 5 characters long</div>
                                <div *ngIf="checkoutFormGroup.get('billingAddress.bcity')?.hasError('whitespace')">
                                    City cannot be empty or contain only whitespace.
                                </div>
                                <div *ngIf="bcity?.errors?.['pattern']">City cannot numbers.</div>
                            </div>
                            </div>
                        </div>
                        <div class="w3-row w3-section">
                        <div class="w3-col" style="width:50px"></div>
                            <div class="w3-rest">
                            <input class="w3-input w3-border" formControlName="state" type="text" placeholder="State" required>
                            <!-- Validation -->
                            <div *ngIf="bstate?.invalid && (bstate?.dirty || bstate?.touched)" class="alert alert-danger mt-1">
                                <div *ngIf="bstate?.errors?.['required']">State address is required</div>
                                <div *ngIf="bstate?.errors?.['minlength']">State address must be atleast 2 characters long</div>
                                <div *ngIf="checkoutFormGroup.get('billingAddress.bstate')?.hasError('whitespace')">
                                    State cannot be empty or contain only whitespace.
                                </div>
                                <div *ngIf="bstate?.errors?.['pattern']">State cannot numbers.</div>
                            </div>
                            </div>
                        </div>
                        <div class="w3-row w3-section">
                        <div class="w3-col" style="width:50px"></div>
                            <div class="w3-rest">
                            <input class="w3-input w3-border" formControlName="country" type="text" placeholder="Country" required>
                            <!-- Validation -->
                            <div *ngIf="bcountry?.invalid && (bcountry?.dirty || bcountry?.touched)" class="alert alert-danger mt-1">
                                <div *ngIf="bcountry?.errors?.['required']">Country is required</div>
                                <div *ngIf="bcountry?.errors?.['minlength']">Country must be atleast 2 characters long</div>
                                <div *ngIf="checkoutFormGroup.get('billingAddress.country')?.hasError('whitespace')">
                                    Country cannot be empty or contain only whitespace.
                                </div>
                                <div *ngIf="bcountry?.errors?.['pattern']">Country cannot numbers.</div>
                            </div>
                            </div>
                        </div>
                        <div class="w3-row w3-section">
                        <div class="w3-col" style="width:50px"></div>
                            <div class="w3-rest">
                            <input class="w3-input w3-border" formControlName="zipCode" type="number" placeholder="Zip Code" required>
                            <!-- Validation -->
                            <div *ngIf="bzipCode?.invalid && (bzipCode?.dirty || bzipCode?.touched)" class="alert alert-danger mt-1">
                                <div *ngIf="bzipCode?.errors?.['required']">zipCode is required</div>
                                <div *ngIf="bzipCode?.errors?.['pattern']">zipCode should be 5 characters long</div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- credit card -->
                <div formGroupName="creditCard" class="form-area">
                    <h3>Credit Card</h3>
                    <div class="w3-row w3-section">
                    <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-credit-card"></i></div>
                        <div class="w3-rest">
                        <select class="w3-input w3-border" formControlName="cType">
                            <option disabled selected>Select your card type</option>
                            <option>Visa</option>
                            <option>Mastercard</option>
                            <option>Discover</option>
                            <option>American Express</option>
                        </select>
                        <!-- Validation -->
                        <div *ngIf="cType?.invalid && (cType?.dirty || cType?.touched)" class="alert alert-danger mt-1">
                            <div *ngIf="cType?.errors?.['required']">Please select a card type</div>
                        </div>
                        </div>
                    </div>
                    <div class="w3-row w3-section">
                    <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-credit-card"></i></div>
                        <div class="w3-rest">
                        <input class="w3-input w3-border" formControlName="cName" type="text" placeholder="Name on card" required>
                        <!-- Validation -->
                            <div *ngIf="cName?.invalid && (cName?.dirty || cName?.touched)" class="alert alert-danger mt-1">
                                <div *ngIf="cName?.errors?.['required']">Enter the name on your card</div>
                                <div *ngIf="cName?.errors?.['minlength']">Name on card must be atleast 5 characters long</div>
                                <div *ngIf="cName?.errors?.['pattern']">Card Name cannot numbers.</div>
                            </div>
                        </div>
                    </div>
                    <div class="w3-row w3-section">
                    <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-credit-card"></i></div>
                        <div class="w3-rest">
                        <input class="w3-input w3-border" formControlName="cNumber" type="number" placeholder="Card number" required>
                        <!-- Validation -->
                        <div *ngIf="cNumber?.invalid && (cNumber?.dirty || cNumber?.touched)" class="alert alert-danger mt-1">
                            <div *ngIf="cNumber?.errors?.['required']">Card Number is required</div>
                            <div *ngIf="cNumber?.errors?.['pattern']">card Number must be as on your card.</div>
                        </div>
                        </div>
                    </div>
                    <div class="w3-row w3-section">
                    <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-credit-card"></i></div>
                        <div class="w3-rest">
                        <input class="w3-input w3-border" formControlName="cCode" type="number" maxlength="3" placeholder="Security Code" maxlength="3" required>
                        <!-- Validation -->
                        <div *ngIf="cCode?.invalid && (cCode?.dirty || cCode?.touched)" class="alert alert-danger mt-1">
                            <div *ngIf="cCode?.errors?.['required']">Enter your card PIN</div>
                            <div *ngIf="cCode?.errors?.['pattern']">PIN must be 3 characters long</div>
                        </div>
                        </div>
                    </div>
                    <div class="w3-row w3-section">
                    <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-credit-card"></i></div>
                        <div class="w3-rest">
                        <input class="w3-input w3-border" formControlName="expMonth" type="number" maxlength="2" placeholder="MM" required>
                        <!-- Validation -->
                        <div *ngIf="expMonth?.invalid && (expMonth?.dirty || expMonth?.touched)" class="alert alert-danger mt-1">
                            <div *ngIf="expMonth?.errors?.['required']">Enter expiration month</div>
                            <div *ngIf="expMonth?.errors?.['pattern']">Expiration month must be atleast 2 digits long</div>
                        </div>
                        </div>
                    </div>
                    <div class="w3-row w3-section">
                    <div class="w3-col" style="width:50px"><i class="w3-xxlarge fa fa-credit-card"></i></div>
                        <div class="w3-rest">
                        <input class="w3-input w3-border" formControlName="expYear" type="number" maxlength="4" placeholder="YYYY" required>
                        <!-- Validation -->
                        <div *ngIf="expYear?.invalid && (expYear?.dirty || expYear?.touched)" class="alert alert-danger mt-1">
                            <div *ngIf="expYear?.errors?.['required']">Enter expiration year</div>
                            <div *ngIf="expYear?.errors?.['pattern']">Expiration year must be atleast 4 digits long</div>
                        </div>
                        </div>
                    </div> 
                </div>
                <!-- order review -->
                <!-- <div class="orderReview">
                    <h3>Order Review</h3>
                    <span>Total Number of Items:  {{totalQty}}</span>
                    <p>Shipping:               {{ shipping | currency: 'USD'}}</p>
                    <p>Total Purchase:         {{ totalPrice + shipping | currency: 'USD'}}</p>
                </div> -->

                <div>
                    <button class="w3-button btn-info w3-block w3-section w3-ripple w3-padding" type="submit">Purchase</button>
                </div>
            </form>
        </div>
    </div>
</div>
