<!-- <div class="login-status">
    <div *ngIf="isAuthenticated && userFullName" class="login-status-usr-info">
        Welcome back {{userFullName}}!
    </div>

    <button *ngIf="!isAuthenticated" routerLink="/login" class="nav-link far fa-user-circle rounded" style="font-size: 30px"></button>
    <button *ngIf="isAuthenticated" (click)="logout()">Logout</button>
</div> -->


<!-- Alternative -->
<div class="w3-center">
  <ng-container *ngIf="(isAuthenticated$ | async) === false; else signout">
    <i class="fa fa-sign-in"  aria-hidden="true">
      <button (click)="signIn()" class="w3-margin w3-round w3-blue w3-padding"> Sign In</button>
    </i>
  </ng-container>


  
  <ng-template #signout>
    <button routerLink="/order-history" class="w3-margin w3-round w3-blue w3-padding">Orders</button>
    <button routerLink="/members" class="w3-margin w3-round w3-black w3-padding">Member</button>
    <button (click)="signOut()" class="w3-margin w3-round w3-yellow w3-padding">Sign out</button>

  </ng-template>
</div>
