<table class="table table-borderless">
    <tr>
        <th width="25%"></th>
        <th width="30%"></th>
        <th width="10%"></th>
        <th width="35%"></th>
    </tr>
    <tr *ngFor="let i of cartItems">
        <td>
            <img src="{{i.imageUrl}}" alt="{{i.name}}" width="150px" />
        </td>
        <td>
            <p>{{i.name}}</p>
            <i>{{i.unitPrice | currency: 'USD'}}</i>
        </td>
        <td class="mt-3">
            <i>Qty: {{i.quantity}}</i>
        </td>
        <td>
            <p class="mt-3">Subtotal: {{i.quantity * i.unitPrice | currency: 'USD'}}</p>
        </td>
    </tr>
    <tr style="font-weight: 900;" >
        <td colspan="2">
            <p class="mt-3">Total number of items: </p>
            <p>Total Price: </p>
        </td>
        <td >
            <p>{{totalQty}}</p>
            <span >{{totalPrice | currency: 'USD'}}</span>
        </td>
    </tr>
</table>

<div>
    <a routerLink="/products">Back to Products</a>
</div>