<div>
    <div>
        <div class="w3-center w3-margin">
            <h3>Your Orders</h3>
            <div class="w3-container" *ngIf="orderHistoryList.length > 0">
                <table class="w3-table w3-striped w3-bordered w3-center">
                    <tr>
                        <th width="25%">Order Tracking Number</th>
                        <th width="10%">Status</th>
                        <th width="5%">Total Quantity</th>
                        <th width="10%">Total Price</th>
                        <th width="10%">Order Date</th>
                    </tr>
                    <tr class="w3-center" *ngFor="let i of orderHistoryList">
                        <td>
                            {{i.orderTrackingNumber}}
                        </td>
                        <td>
                            {{i.status}}
                        </td>
                        <td>
                            {{i.totalQuantity}}
                        </td>
                        <td>
                            {{i.totalPrice | currency: 'USD'}}
                        </td>
                        <td>
                            {{i.createDate | date: 'medium'}}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div *ngIf="orderHistoryList.length == 0" class="alert alert-warning col-md-12"> You have not placed any orders yet! </div>
</div>
<div>
   <a routerLink="/products" class="w3-margin-top col-md-12">Back to products</a>    
</div>